[2016-04-26 19:00] cerupcat opened #2 "Status Update?"
Hi, I just wanted to check on the status of this project. We've successfully been using the Filestack pod to upload files (without picker) for the past month. Now, we're looking to integrate the picker for another part of the app. Is the 'FSPicker-release' branch ready for testing? Right now we have conflicts trying to run both Filestack and Filepicker at the same time and it'd be nice to switch o

[2016-04-27 06:17] pJes2 commented on #2
Hi @cerupcat FSPicker will be another repo/pod dependent on Filestack. 'FSPicker-release' is a branch with changes for the FSPicker. Currently I'm working on the documentation and tests for the FSPicker, plus any missing functionality & tweaks. Hopefully we will have a "RC version" for you to test in next week.

I have a question though - Are you going to use FS(FP)PickerController alone or with F

[2016-04-27 18:08] cerupcat commented on #2
Hi @pJes2, I'm not actually for familiar with FS(FP)SaveController. We're not currently using that. Right now we're using the Filestack API for uploading files on our own and we currently use FPPickerController for selecting files for upload (in a different use case).

[2016-05-06 12:48] pJes2 commented on #2
@cerupcat
Beta version of FSPickerController is available here: https://github.com/filestack/FSPicker
Feel free to test it and if you'd like a feature added or encounter any kind of bug, please open an issue in the FSPicker repo or reach me directly at my github email.

[2016-05-06 12:48] #2 closed

[2016-05-06 19:37] cerupcat commented on #2
Sounds great @pJes2. Thanks for the update! I'll give it a try today and post back if there's any issues.

[2016-05-06 21:24] cerupcat commented on #2
@pJes2 Overall things are looking pretty good. I posted a few issues in the FSPicker project. A couple are blocking (for us to use) and others are just nice to have. Thanks again!

[2016-05-07 12:16] pJes2 commented on #2
@cerupcat Thanks for the "report", I've looked at the list and I should be ready with the fixes/additions by the end of next week (probably earlier)

[2016-06-08 19:51] jujuvetus opened #4 "Installation problem"
When installing via CocoaPods I get this :

"[!] Unable to satisfy the following requirements:

- `Filestack (~> 0.3.2)` required by `Podfile`
- `Filestack (~> 0.3.2)` required by `Podfile`
- `Filestack (~> 0.3.2)` required by `Podfile`
- `Filestack (~> 0.3.2)` required by `Podfile`

Specs satisfying the `Filestack (~> 0.3.2)` dependency were found, but they required a higher minimum deployment ta

[2016-06-09 07:00] pJes2 commented on #4
Could you please paste your whole Podfile here?

[2016-07-04 06:32] #4 closed

[2016-12-24 05:51] seantanly opened #5 "Missing FSSecurity option for Filestack.remove()"
Currently Filestack `remove:completionHandler:` seems to be missing the support for passing in a `FSSecurity`. The other 2 methods `pickURL:completionHandler:` and`download:completionHandler:` seems to be having the same issue.

Am I missing something on how to use these 3 methods with security enabled?

[2017-01-03 15:28] konradzuwala opened #6 "Swift 3 policy"
Hello,
why the policy in FSSecurity is String type? When I am generating signature and converting Data feed to UTF8 String, usually it results in nil. ASCII on the other hand is not working. Or am I doing something wrong? Here is my code:
`
var timeInterval: Int = Int(Date().timeIntervalSince1970)
        timeInterval += 7 * 24 * 60 * 60

        let policy = "{ \"expiry\" : " + String(timeInterva

[2017-01-03 17:07] konradzuwala opened #7 "Swift 3 secured upload not working"
Hello,
I am using the filestack-ios in Swift3 application. However, when I make a push to a secured store, with policy and signature, that are correct, I get problem:

`Optional(Error Domain=NSURLErrorDomain Code=-1005 "The network connection was lost." UserInfo={NSUnderlyingError=0x618000448940 {Error Domain=kCFErrorDomainCFNetwork Code=-1005 "(null)" UserInfo={NSErrorPeerAddressKey=<CFData 0x608

[2017-01-05 08:56] #6 closed

[2017-01-09 07:27] #7 closed

[2017-01-10 10:56] pJes2 commented on #5
Hey @seantanly
Sorry for the delay, unfortunately (as you can probably tell) our iOS library is not under active development, but I released version `0.3.3` which adds security to all of these methods, could you update your pod and let me know if it is working for you?

[2017-01-11 05:06] aqeelb opened #8 "Conflicting nullability specifier on return types, '_Nullable' conflicts with existing specifier 'nonnull'"
Swift compiler warning in:
- FSSecutiry.h
- FSWatermark.h

Is this warning related to Xcode 8 updates in nullability declaration check? Any thoughts?

[2017-01-14 02:21] seantanly commented on #5
@pJes2 Thanks, will try it out and feedback. :)

[2017-01-16 09:07] pJes2 commented on #8
please update to ```0.3.5```, should be fine.

[2017-01-20 03:33] seantanly commented on #5
@pJes2 I have tested Filestack `remove:completionHandler:` and it's working fine with the security added. Thanks!

[2017-01-20 03:33] #5 closed

[2017-01-20 03:36] seantanly commented on #8
@pJes2 I have updated to version 0.3.5 and the warnings are gone. Thanks!

[2017-01-20 07:27] pJes2 commented on #8
closing

[2017-01-20 07:27] #8 closed

[2017-04-21 04:19] jackyheart opened #12 "Import filename typos on FSMultipartUpload.h"
FSUploadoptions.h is with small case 'o' instead of capital 'O'.

[2017-05-02 13:02] schmidan commented on #12
^^ and this throws a warning in XCode 8.3
would be nice to have this fixed sometime

thanks and keep up the good work!

[2017-06-07 09:36] rnine commented on #12
@jackyheart, @schmidan Thanks for reporting this issue! It has been addressed in 0.3.8 👍

[2017-06-07 09:37] #12 closed

[2017-08-16 17:42] orlenko opened #13 "Multipart upload is broken (content-type error)"
The problem happens both on ios and on macOS. Here are the steps to reproduce the problem on a mac:
 - `git clone git@github.com:filestack/filestack-ios.git`
 - `cd filestack-ios`
 - `pod install`
 - Open the workspace in xcode, run Filestack-mac-demo
 - Click Multipart Upload button, select a file.

Errors in the output box:
[code]

I am getting the same error when I try to use multipart upload i

[2017-10-31 17:32] leedowthwaite opened #14 "Cannot build 0.5-pre1 with Carthage"
Trying to build 0.5-pre1 using `Carthage update` fails on the Arcane-Mac submodule.
I'm trying to build for iOS using Xcode 9.0.1 on MacOS 10.13.
It looks like it's Xcode related since the log refers to a problem with the Swift version:-

[code]

[2017-11-01 14:56] rnine commented on #14
@leedowthwaite thanks for your report. The issue was caused by Xcode's new build system used by one of the project dependencies (filestack-swift). I have pushed a new release 0.5-pre2 that should not manifest this issue any more.

Hope that helps!

[2017-11-09 19:14] #13 closed

[2017-11-09 19:14] #14 closed

[2017-11-10 09:45] leedowthwaite commented on #14
@rnine I moved to Cocoapods for this dependency as it was blocking me. I ran into some other problems to do with hard-coded Xcode paths, specifically:-

In <project-dir>/Pods/Arcane/CocoaPods/*/module.modulemap
there's a reference to the Xcode path which seems hard-coded:-

module CCommonCrypto [system] {
    header "/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Dev

[2017-11-10 13:27] rnine commented on #14
@leedowthwaite You're right, the Cocoapod for Arcane has a hardcoded path to the CommonCrypto headers inside /Applications/Xcode.app. If you happen to need to use more than one version of Xcode, you may experience issues.

We are evaluating abandoning Arcane and adopting a Swift-native solution that does not depend on Apple's CommonCrypto to prevent such corner case problems.

That said, I believe

[2017-12-08 10:46] helloniklas opened #15 "AVFileTypeHEIC' has been renamed to 'AVFileType.heic'"
Attempting to update from 0.3.9 to 1.1 I get various compilation errors.

AVFileTypeHEIC' has been renamed to 'AVFileType.heic'

and

FilestackSDK.MultipartUpload:7:17: Non-'@objc' method 'cancel()' does not satisfy requirement of '@objc' protocol 'CancellableRequest'

[2017-12-08 11:26] helloniklas opened #16 "Upload Data"
Before I could simply upload Data with FileStack. This simplified the flow when using drag and drop of an image on iPad.

[code]

This seem to have been replaced now? Is there a way to just upload Data with the new 1.1 SDK?

[2017-12-08 11:46] rnine commented on #15
@helloniklas: Hmm, could you provide a little more information about your environment so we can try to reproduce it?

- Xcode version
- Language and version used (Swift 3.x, Swift 4, Objective-C)
- Method of integration (Carthage, CocoaPods, manual)

Thank you!

[2017-12-08 11:46] helloniklas commented on #15
Actually, if I set the pod to be Swift 3.2 it compiles fine now.... my project is Swift 4

[2017-12-08 11:56] rnine commented on #16
@helloniklas: `Data` is not currently supported. Possible origins for uploads in 1.1 are local URLs, image picker or document picker.

[2017-12-08 12:08] rnine commented on #15
Right. It needs `spec.swift_version = '3.2'` added to the spec definition for those using Swift 4 — we will get this one fixed on the next update.

Thanks for reporting! 👍

[2017-12-08 13:38] helloniklas commented on #15
or better, just update to Swift 4, it's been out for a while now.

[2017-12-19 11:01] andrewlord1990 opened #17 "Cocoapods version missing Storyboard"
I tried using the Filestack SDK via Cocoapods.

When I try to show a picker using the demo app, it crashes saying the Storyboard "Picker" cannot be found. If I look through the 'Pods' directory the Storyboard isn't there.

If I download the full source from GitHub, then copy the Storyboard, add it to the Pod folder in Xcode, then add a Build Phase to the Pods project to copy the Storyboard to the

[2017-12-19 14:56] andrewlord1990 opened #18 "client.picker completion handler"
If you use the complete PickerNavigationController solution via `client.picker(::)`, there is currently no way to monitor the upload and get any kind of result. This makes it basically unusable, as the user will upload files, but you won't know which ones they are and so will be unable to do anything with them.

The other options allow you to specify a completion handler, but then you have to impl

[2017-12-19 17:33] rnine commented on #15
Should be fixed on [1.2](https://github.com/filestack/filestack-ios/releases/tag/1.2).

[2017-12-19 17:33] #15 closed

[2017-12-19 17:34] rnine commented on #17
Thanks for reporting! The issue should now be fixed on [1.2](https://github.com/filestack/filestack-ios/releases/tag/1.2)

[2017-12-19 17:34] #17 closed

[2017-12-19 19:04] andrewlord1990 commented on #17
Thanks, appreciate the really quick fix 😀

[2018-01-22 10:37] schmidan commented on #18
hei @andrewlord1990 did you find a way to get a completion handler or some way of report back of which files were uploaded?
We are switching over from FSPicker which worked perfectly for us but does not support newer features. (preventing HEIC format for example)

[2018-01-23 00:00] zhifeng-huang commented on #18
I could not find a way to get any kind of result back after uploading. I cannot even tell if the upload is successful or not.

[2018-01-24 10:25] rnine commented on #18
Hey guys,

This limitation should now be addressed in the 1.3 release. Please take a look at the updated README.md and demo project demonstrating the newly added [PickerNavigationControllerDelegate](https://filestack.github.io/filestack-ios/Protocols/PickerNavigationControllerDelegate.html#/s:9Filestack34PickerNavigationControllerDelegateP18pickerUploadedFileXeXeF).

[2018-01-24 15:56] schmidan commented on #18
tried and tested. works perfectly so far!
thank you lots!

[2018-01-24 16:10] schmidan opened #19 "modal presentation style"
Hei Team

both ```uploadFrom...``` methods present a modal picker with the flag ```.currentContext```
this made me run into a problem where after the dismissal of the picker my layout was totally corrupted because the presentingViews width would get constraint to 0 and break.

the only way i found to resolve the issue was by forking and changing the pickers presentation to ```.overFullScreen```.

[2018-01-25 10:10] rnine commented on #19
@schmidan Thanks for reporting. We'll give this some thought 👍

[2018-02-01 22:24] andrewlord1990 commented on #18
Thanks for fixing this issue! 🙏. Seems like this ticket can be closed.

[2018-02-02 09:07] #18 closed

[2018-02-21 11:03] schmidan opened #20 "Upload multiple files from Picker"
At the moment it does not seem to be possible to allow a user to select and upload multiple files at the same time when using ```client.picker()```

is this correct? Users are asking for the return of this feature after we switched over from FSPicker which did not allow to set compatibility (apple heic format). And we were told that it would not actively get maintained.

thanks

[2018-02-21 21:10] shawnmaten commented on #20
Yes this is correct for the time being and I can't say right now when it will change. It's also correct that the FSPicker library is no longer maintained.

[2018-02-23 12:08] schmidan commented on #20
is there a place to vote for features?
this seems to be quite a big feature missing from the FSPicker

[2018-02-25 21:52] gsidler commented on #20
Dear Filestack team, please consider giving this feature a high priority. Some of our customers are quite unhappy about losing the capability to upload multiple files. Uploading files has become much more time consuming for them.

[2018-05-15 18:30] joninsky opened #21 "'Client' is ambiguous for type lookup in this context"
While integrating `Filestack` into my project I ran into a build time error "'Client' is ambiguous for type lookup in this context"

Here is the code that produces the issue:

[code]

The error comes from the last function in the struct. Both the `Filestack` and `FilestackSDK` pods seem to have a `Client` object.

[2018-05-15 19:44] joninsky commented on #21
You can reference the correct client by referring to the name space:

`Filestack.Client`
`FilestackSDK.Client`

[2018-05-16 12:51] pappApproved commented on #21
You are right. That is a proper way to use specific `Client` classes.
Nevertheless, this should be documented. We will make sure that it appears there on next version.
Thanks for pointing that.

Closing the issue.

[2018-05-16 12:51] #21 closed

[2018-05-31 21:14] gmogames opened #22 "Having issues with v1.3 on XCode 9.3.1 (Swift 4.1/3.3)"
Hello there,

After updating my pod version from 0.3.9 to 1.3 I'm unable to build my project. I get the following errors in Client.swift:
![image](https://user-images.githubusercontent.com/1765046/40808696-d3307c40-64dc-11e8-87fe-9891d203ac6b.png)

I'm assuming is because XCode 9.3.1 uses swift 3.3 but you are supporting 3.2? I tried building using 3.3 and 4.1 but no luck.

Any ideas if this is th

[2018-06-01 13:43] pappApproved commented on #22
Hi,

I checked it on XCode 9.3 and 9.4. For Swift versions 3.x and 4.x. Works well in every case.
And it not about Swift version. You are compiling source code on your own, you are not getting compiled framework.

Reasons may be few.
Version 0.3.9 was written using Objective-C, the current one is using Swift.
So whole project is totally different. It may be Xcode caching some left-overs from previ

[2018-06-01 19:43] gmogames commented on #22
You are right, it was a bigger issue, but mostly because from 0.39 to 1.3 a lot changed and we were missing some changes implemented in this newer version.

Thank you for your help

[2018-06-01 19:43] #22 closed

[2018-06-13 17:06] pappApproved commented on #20
Hi.
We just recently released new version 1.4 that supports selection and upload of multiple files at once.
There is a new option added to `Filestack.Config` called `maximumSelectionAllowed`. By default, it's still 1, but after setting it to `Config.kMaximumSelectionNoLimit` or any other value different than 1 you will use new picker that supports multiple files selection.
Same goes for document p

[2018-06-13 17:06] #20 closed

[2018-06-19 14:42] pappApproved commented on #19
Version 1.4.1 was just released with this single change.
You now have a possibility to set `modalPresentationStyle`.
This property is taken from `Filestack.Config`:
[code]
You still have no possibility to display picker with a simple push. Give us info if you need/want such feature or the current approach is enough.

[2018-06-19 14:42] #19 closed

[2018-07-21 02:49] mwawrusch opened #27 "Easiest way to customize the picker?"
We need to customize the picker, in particular changing the text a bit, replacing the icons and colors. What's the best way of doing this? Any ideas?

[2018-07-21 03:10] mwawrusch commented on #27
In particular, this does not work:

[code]
probably because you rename the pickercontroller for ObjC...

[2018-07-31 10:42] willi opened #28 "uploadProgress is only called when upload is done"
uploadProgress in upload() is not called during upload, only after upload is complete. No way to track progress.

[2018-09-04 13:02] pappApproved commented on #27
Since today there is version 1.5.1 that support such changes.
You can use new `Stylizer` to do that.
Example code:
[code]
If you want to change text and icons:
[code]

[2018-09-04 13:02] #27 closed

[2018-09-12 17:52] kaifucious opened #32 "Upload Chunking"
Hello,

I see an option to upload a file, is there a way to chunk an upload into multiple parts when uploading? Is this something supported by the SDK?

Thanks!

[2018-10-16 15:58] schmidan opened #33 "Crash when upload is cancelled"
steps to reproduce:
1. go to Photo Library : Camera Roll
1. select picture and hit Done
2. observe the Camera Roll being dismissed
3. hit Cancel before Upload Progress appears
4. observe crash

the problem seems to be that the user can hit Cancel after he initiated an upload because there is a delay between the dismissal of the selection screen and the display of the progress screen.

we see this

[2018-10-19 07:48] pappApproved commented on #33
Version 1.5.2 released for both:  CocoaPods and Carthage.
Closing issue.

[2018-10-19 07:48] #33 closed

[2018-10-19 07:55] pappApproved commented on #32
SDK is splitting file into smaller chunks itself when it's uploading.
If there was a problem with upload it's splitting into even smaller ones.

But if your intention is to split it into few parts that you want to upload at different times then answer is "No". If you want to have file uploaded to storage you need to send it at once. There is a way to achieve it but you'll need to get a little mess

[2018-10-19 20:04] pauloec commented on #28
No one to help?

[2018-10-22 10:09] schmidan opened #36 "LocalSources inaccessible because they are internal"
small issue, your example code seems not to work:

[code]

this is also the case in the DemoApp when trying to not use LocalSources.All()

[2018-10-22 12:10] schmidan opened #37 "Camera option leads to PhotoPicker"
since we re-enabled multi file upload via:
`config.maximumSelectionAllowed = Config.kMaximumSelectionNoLimit`

we had reports from users stating that they could not use the camera as a local source anymore.

you can reproduce this by adding the line `config.maximumSelectionAllowed = 2` to the DemoApp and try to take a Photo with the Camera

Skimming thru the code i have this question:
does it mean

[2018-10-25 21:47] OrestNazarewycz opened #38 "Does not build using XCode 10 Swift 4.2"

[2018-11-13 01:02] andrasmendik opened #39 "CocoaPods v1.5.2 build is incorrectly using Swift 4.2?"
When using CocoaPods to install v1.5.1 of the Filestack pod I can build using Swift v4, but when using CocoaPods to install v1.5.2 of the Filestack pod, I am forced to use Swift v4.2? Surely this is a mistake as I don't see the Swift v4.2 updates in master?

[2018-11-13 01:14] andrasmendik opened #40 "pickerStoredFile is being called before uploadMonitorViewController.dismiss"
Because `uploadMonitorViewController.dismiss()` is being called in a `DispatchQueue.main.asyncAfter(deadline: .now() + 0.25)`, the `picker.pickerDelegate?.pickerStoredFile` is being called too early. This means when my `pickerStoredFile` callback is trying to `picker.dismiss()` on a successful response, it is failing as the `uploadMonitorViewController` is still trying to be dismissed.

I figure t

[2018-11-14 15:03] pappApproved commented on #28
It's working. I checked.
It's called after every chunk was uploaded. Regular chunk size is 5MB.
Chunks can be smaller if you use intelligent ingestion. Then we start from 8MB, but if connection is weak we start splitting it into smaller parts.
It can be called only once if file that you're trying to upload is smaller then that.

Best way to test it is to upload video files which are much bigger.

[2018-11-14 15:03] #28 closed

[2018-11-14 15:03] #32 closed

[2018-11-14 15:07] #38 closed

[2018-11-14 15:16] pappApproved commented on #39
My mistake. I didn't merge Swift 4.2 support branch to master.
Apart from that you're not forced to use any swift version for your project as you can now set `Swift Language Version` for any pod project yourself - and it doesn't need to be the same as for the project.

<img width="1440" alt="screen shot 2018-10-16 at 14 36 28" src="https://user-images.githubusercontent.com/8074854/48491727-7ee3e30

[2018-11-14 15:16] #39 closed

[2018-11-16 01:08] andrasmendik commented on #39
This is not true. Trying to build the Swift v4.2 specific code on v4.0 gives you build errors:
![image](https://user-images.githubusercontent.com/17755588/48591520-5549c980-e998-11e8-819a-a67d405844b3.png)

[2018-11-16 14:50] rayanmestiri opened #43 "Specify UTI for cloud sources"
Could we have a config option that enables only specified UTIs for cloud sources?

[2018-11-16 15:53] rayanmestiri opened #44 "Picker doesn't have any upload progress handler"
It would be pretty useful to be able to monitor the upload progress with the picker.

[2018-11-16 15:57] rayanmestiri opened #45 "Picker should have a handler to process files before uploading"
We can't process files before uploading them when using the picker, resulting in the user uploading file formats we don't support, etc.

[2018-12-03 16:47] eoy4 opened #46 "commit `1a2cc0f2ea0fe93d30e39c7a82600cd3c3bd9a2f` compile error"
The following change in `AlbumListViewController.swift` breaks compilation in latest swift:

[code]

Error: `/Users/tovi/Wear/repos/TMS-iOS/Pods/Filestack/Filestack/UI/PhotoPicker/AlbumList/AlbumListViewController.swift:78:23: 'init(style:)' has been renamed to 'init(activityIndicatorStyle:)'`

[2018-12-07 23:42] mwawrusch commented on #36
I ran into the same issue. Please advise as this probably makes the product unusable.

[2018-12-10 16:46] rbarber1 commented on #37
Coming up with the same issue. Downloaded sample to vet the use of the picker.

Looking at the source code the behavior is coming from "ImagePickerUploadController.swift" at line 49.

[code]

And the `shouldUseCustomPicker` computed property at line 59.
[code]

The `customPicker` from the `start()` function then uses the `PhotoPickerController` on line 80 of the same file. Which just opens up an i

[2018-12-13 17:31] troublediehard opened #47 "Parameters are invalid for client.upload"
I'm trying following code
[code]

I'm getting progress data so I supose image is uploading. But getting error  - `aborted`

here is print of response in the MultipartUpload.swift

[code]

Am I doing anything wrong?

[2018-12-13 21:50] troublediehard commented on #47
Following pull request https://github.com/filestack/filestack-swift/pull/12 resolve issue

[2019-01-08 16:43] sgerardi commented on #47
I am seeing the same issue. Has any progress been made on this?

[2019-01-08 21:40] troublediehard commented on #47
@sgerardi looks like dev team doesn't respond in the GitHub issues. The best solution at this moment to use pool request I've mentioned above.

[2019-01-09 17:03] sgerardi commented on #47
I unfortunately need the UI provided by the Filestack-Swift repo which has this repo as a dependency. So I will probably just have to fork both to make it work.

[2019-03-23 20:33] neo0x0 opened #53 "iOS display image"
iOS Documentation needs update or explanation.
I want to display image but get error.

Code official doc says:
1. import FilestackSDK
2. let filelink = transformable(handle: "g8fLXNCRT4K3TJSUFrRW")

Github gives nothing on this, only about displaying picker/upload
https://filestack.github.io/filestack-ios/

[2019-04-02 09:20] schmidan opened #54 "Does not build with XCode 10.2 Swift 5"
XCode 10.2 dropped support for SWIFT_VERSION '3.0'.
filestack-ios depends on Alamofire 4.7.3 as well as OHHTTPStubs 6.1 which uses that swift version.

Please update the dependencies to more current versions that are supported by 10.2

the same is probably true for filestack-swift

[2019-04-17 16:12] patulacci commented on #36
+1

[2019-06-27 18:04] benRivello commented on #47
The workaround provided by @sgerardi in [filestack-swift/issues/13](https://github.com/filestack/filestack-swift/issues/13#issuecomment-454613953) worked for me.

[2019-06-28 09:47] rnine commented on #54
Fixed in [develop](/filestack/filestack-ios/tree/develop) branch.

[2019-06-28 09:47] #54 closed

[2019-06-28 11:28] rnine commented on #36
Fixed in [develop](/filestack/filestack-ios/tree/develop) branch.

[2019-06-28 11:28] #36 closed

[2019-07-01 12:39] rnine commented on #37
Fixed in commit eea617e.

[2019-07-01 12:39] #37 closed

[2019-07-01 13:12] rnine commented on #40
Addressed in commit 4ecd452.

[2019-07-01 13:12] #40 closed

[2019-07-01 15:08] rnine commented on #43
@rayanmestiri Thanks for suggestion!

Feature added in commit 25cff9b74597be2f5920d0f8353aaab5c5ac90b6.

[2019-07-01 15:08] #43 closed

[2019-07-02 11:34] rnine commented on #46
Fixed in [develop](/filestack/filestack-ios/commits/develop) branch.

[2019-07-02 11:34] #46 closed

[2019-07-02 11:36] rnine commented on #47
Fixed in [develop](filestack/filestack-ios/commits/develop) branch.

[2019-07-02 11:36] #47 closed

[2019-07-03 15:19] rnine commented on #45
@rayanmestiri Trying to understand your use case. Would restricting what document types can be selected and picked not be enough in your case?

[2019-07-03 15:32] rnine commented on #53
@neo0x0 Could you explain in more detail what are you trying to achieve?

[2019-07-10 20:52] dunahee12 commented on #54
@rnine Is this going to get released in the next version of the Cocoapod?

[2019-07-11 08:26] rnine commented on #54
@dunahee12 Yes, it will be included in the upcoming release

[2019-07-15 13:19] rnine commented on #44
Implemented in b0cf185.

[2019-07-15 13:19] #44 closed

[2019-07-17 16:04] benRivello opened #56 "Unable to install via Pods"
Podfile - the below configuration works with `'~> 1.5'`
[code]
Error:
[code]

[2019-07-17 16:12] benRivello opened #57 "Picker does not limit selections to provided documentPickerAllowedUTIs"
### Expected Behavior
files available in picker should be limited by list of documentPickerAllowedUTIs in config similarly to how android picker options are limited by mimeTypes.

### Observed Behavior
.mov, .docx, .pdf all available to be uploaded when only config set with only `"public.image"`

### Additional Information
I was not able to find any information regarding this config setting in the

[2019-07-17 16:27] rnine commented on #56
@benRivello Looks like your Cocoapod source repos are out-of-date (e.g., no spec for Filestack 2.0 on your local repo). Try `pod repo update` before `pod install` and it should work.

[2019-07-17 16:33] rnine commented on #57
@benRivello Please notice the setting `documentPickerAllowedUTIs` only applies to documents picked using Apple's document picker (aka "iOS Files" in our picker.) In version 2.0 we added the setting `cloudSourceAllowedUTIs` which applies to documents picked for cloud sources. You may use both if you want to apply restrictions in both places.

Hope this helps!

[2019-07-17 16:41] benRivello commented on #56
This worked. Thank you! I didn't realize that was being cached and assumed cleaning out the Pods folder would give me a fresh install.

[2019-07-18 05:25] #56 closed

[2019-08-30 15:35] emajewicz commented on #53
I believe that this is the same issue that I am encountering. Without a transformation the image displays fine

let fileLink = fsClient!.sdkClient.fileLink(for: handle);

However when using a transformation I get an error

let transformable = fsClient!.sdkClient.transformable(handle: handle);

The error I receive when trying to display the image is "conv20 provider error: Failed to identify the fi

[2019-09-09 13:40] rnine commented on #53
@emajewicz Could you please provide some more context?

Specifically, it would be helpful to know:

1. Format (png, jpg, etc.) and dimensions of the image file referenced by `handle`
2. Transformation chain used (including all their associated parameters).

Thanks!

[2019-09-09 13:42] #57 closed

[2019-09-11 10:36] rnine opened #58 "Add SPM (Swift Package Manager) support"
Some of our external dependencies (`SVProgressHUD` and `ZipArchive`) are not available as SPM yet:

- https://github.com/SVProgressHUD/SVProgressHUD/issues/967
- https://github.com/ZipArchive/ZipArchive/issues/499

[2019-09-18 14:40] rnine commented on #16
Functionality added to [v2.2](https://github.com/filestack/filestack-ios/releases/tag/2.2).

[2019-09-18 14:40] #16 closed

[2019-10-07 21:39] rweindl opened #59 "iOS SDK Parallel Upload Issue"
Hey everyone, we run into the following issue using the filestack-ios SDK.

1. When a user selects or takes an image we store that image in the file system as temporary file to receive a url.
2. When we check this url we can ensure that each url points to the correct image.
3. Let's say we call the client upload method for those url images, we check again that each passed url is pointing to the co

[2019-10-08 12:08] rweindl commented on #59
It would be great to inspect/verify this issue. Otherwise we unfortunately have to consider moving away from Filestack.

[2019-10-29 08:21] MherKarapetyan opened #60 "Does not build with XCode 10.2.1 Swift 5"
error: expression
    resolves to an unused property
            get { callbackURLScheme }
                  ^~~~~~~~~~~~~~~~~
/Users/mherkarapetyan/Desktop/flutter/filestack_flutter/example/ios/Pods/Filestack/Filestack/UI/Internal/PhotoEditor/SelectionList/SelectionListView
    Controller.swift:99:48: error: type 'UIColor?' has no member 'systemBackground'
                collectionView?.backgrou

[2019-10-29 08:22] MherKarapetyan opened #61 "Does not build with XCode 10.2.1 Swift 5"
<img width="276" alt="Screen Shot 2019-10-29 at 12 16 51 PM" src="https://user-images.githubusercontent.com/34922548/67755105-fd915a80-fa50-11e9-8b01-391f75b39d1d.png">
error: expression
    resolves to an unused property
            get { callbackURLScheme }
                  ^~~~~~~~~~~~~~~~~
/Users/mherkarapetyan/Desktop/flutter/filestack_flutter/example/ios/Pods/Filestack/Filestack/UI/Internal

[2019-10-29 13:12] rnine commented on #59
@rweindl Sorry to hear you are having issues with uploads. Could you share the storage options you are using for uploading? Thanks!

[2019-10-29 13:29] rnine commented on #60
@MherKarapetyan Sorry to hear about your issue. Our SDK now requires iOS 13 SDK in order to build, so that means you'll need Xcode 11.0 or later.

[2019-10-29 13:33] rnine commented on #61
Let's use #60 for discussion.

[2019-10-29 13:33] #61 closed

[2019-11-07 08:56] MherKarapetyan opened #62 "Upload works, but PickerNavigationControllerDelegate handlers doesn't work."
` picker.pickerDelegate = self` in ViewController

[code]

[2019-11-12 14:20] stanka-n commented on #45
I have the same issue. I can't transform .heic file to jpg before uploading the image.

[2019-11-13 14:56] MherKarapetyan commented on #62
@rnin Pay attention on this issue as soon as possible.

[2019-11-13 15:34] rnine commented on #62
@MherKarapetyan Sorry, I am unable to reproduce this issue locally using the demo project. Could you provide some further details?

1. Version of FilestackSDK used.
2. Upload source used (e.g. Camera, Photo Library, iOS Files, Dropbox, Custom, etc.).
3. Xcode version and iOS version used on device or simulator.
4. Anything else that could help reproduce the issue (e.g. link to Github repo showcasi

[2019-11-14 07:33] MherKarapetyan commented on #62
@rnine  Thank you for response.

1.  - FilestackSDK (~> 2.2)
    - Filestack (~> 2.2)
    - CryptoSwift (= 1.0)
    - Alamofire (~> 4.9)
    - SSZipArchive (= 2.2.2)
    - SVProgressHUD (~> 2.2)

2. [.dropbox, .googleDrive, .facebook, .instagram, .googlePhotos, .oneDrive, .amazonDrive, .photoLibrary, .documents]

3. Xcode 11.1, devices: IOS 13.1.3, IOS 12.3.1, simulator: IOS 13.1

**NOTE.**
_We tr

[2019-11-14 08:56] rnine commented on #62
@MherKarapetyan Yeah, I see your problem. Your `ViewController` is being deallocated after the picker is presented by your `rootViewController` since it is not strongly retained by anything. Keep in mind that `pickerDelegate` only holds a weak reference to it (best practice for delegates.)

Using a `UIViewController` as your picker's delegate is not really necessary, specially if you are not going

[2019-11-14 11:18] MherKarapetyan commented on #62
@rnine Thanks a lot. The mistake was mine.

[2019-11-14 12:18] rnine commented on #62
@MherKarapetyan No worries! Glad to help! Closing this issue.

[2019-11-14 12:18] #62 closed

[2019-12-21 19:04] kmcmanimen opened #63 "Include uploaded file's name in the response object"
The `filename` returned in `pickerUploadedFiles` is a guid.  It would be great to include the actual file's name (the name of the file uploaded by the user) similar to how it is handled in the android SDK so that we can match the name to the new handle/url during multi upload.

[2020-04-25 14:00] naveens-fieldwire commented on #63
The issue is introduced due to refactor to migrate the localURLS to Uploadable.

let fileName = options.storeOptions.filename ?? UUID().uuidString
Before
let fileName = storeOptions.filename ?? localURL.lastPathComponent

The changes are inside the FilestackSDK

[2020-05-04 10:16] rnine commented on #63
Addressed in [2.2.2](https://github.com/filestack/filestack-ios/releases/tag/2.2.2).

[2020-05-04 10:16] #63 closed

[2020-05-05 08:36] givip opened #65 "Crash on iOS 13"
Related to issue in [https://github.com/SVProgressHUD/SVProgressHUD/issues/1031](https://github.com/SVProgressHUD/SVProgressHUD/issues/1031)
Reproducible in apps with SceneDelegate where`[[UIApplication sharedApplication] delegate] window]` is nil

[2020-05-22 01:34] bzeeman commented on #65
This call assumes that window in a function of the app delegate, but in iOS 13 window is not a selector. For a temporary fix you can add a window objc method to your app delegate that returns the window as this expects.
[code]

[2020-06-11 13:27] adnanbhatti123 commented on #20
@pappApproved I updated the filestack sdk to version 2.2.2 using pods. Its allow me to select mutliple files from iphone gallary with icloud upload. but not allow to me to select multiple files from "google drive", "drop box" and "On Drive". is there anything wrong i am doing or just again its a sdk bug.?

[2020-07-07 17:04] rnine commented on #65
SVProgressHUD is on the way out. It will no longer be a dependency on the upcoming update.

[2020-07-09 15:05] rnine commented on #65
Dependency on `SVProgressHUD` was removed in [2.3](https://github.com/filestack/filestack-ios/releases/tag/2.3) so this is no longer an issue.

[2020-07-09 15:05] #65 closed

[2020-07-30 15:46] brynjar opened #67 "Swift SDK appears to generate incorrect URL for transforms"
pod 'FilestackSDK', '2.3.1'

I'm trying to use your SDK to resize an image I previously successfully uploaded to S3 (via the upload call) and from which I got a handle.

[code]

This generates a URL like

https://www.filestackapi.com/api/store=location:S3,path:a,filename:b,access:private,base64decode:false/security=policy:[policy],signature:[sig]

which returns HTTP 404 as the result of the POST c

[2020-07-30 17:51] rnine commented on #67
@brynjar Hi. You're not doing anything wrong, the base URL should be `https://cdn.filestackcontent.com` instead of `https://www.filestackapi.com/api`, hence that's a bug in our code.

I'll prepare a new release with this fix and close this issue. Feel free to reopen if you still experience any issues!

Thanks!

[2020-07-30 17:59] #67 closed

[2020-08-25 12:23] Pavan191 opened #68 "conv20 provider error: Failed to identify the file, probably corrupted image provided (idx 0)"
I Am Working with FileStack for couple of days.

Its working fine (Upload and download) prior iOS version 11(Simulator and Real Device).

But when i try it in iOS 12+(Both Simulator and Real Device) version image file is uploading successfully but while downloading image am getting(Blank Image).

When i paste the Image URL in the browser am getting this error.
conv20 provider error: Failed to iden

[2020-08-25 12:37] rnine commented on #68
@Pavan191 Could you describe in greater detail how are you downloading the image?

[2020-08-25 12:41] Pavan191 commented on #68
i have created separate function to download Images in my project :

func downloaded(from link: String, contentMode mode: UIView.ContentMode = .scaleToFill,activityIndi: UIActivityIndicatorView? = nil) {
        guard let url = URL(string: link) else { return }
        downloaded(from: url, contentMode: mode,activityIndi:activityIndi)
    }

And i call that function as below :

self.profileImageVi

[2020-08-25 13:44] rnine commented on #68
@Pavan191 I think the processing API does not support processing HEIC images directly.

You may want to adjust the `imageURLExportPreset` in the config object passed to `Filestack.Client` and set the value to `.compatible` instead of `.current`. In this case, iOS will always return a JPEG image and Filestack's processing API should work normally.

Let me know if that helps!

[2020-08-25 14:30] Pavan191 commented on #68
@rnine Thanks a ton man. Its working as expected.
 Thanks a lot 👍

[2020-08-25 14:31] #68 closed

[2020-08-25 15:37] rnine commented on #68
@Pavan191 Glad to help! 👍

[2020-10-13 14:33] rnine commented on #58
Support added in [2.4.0](https://github.com/filestack/filestack-ios/releases/tag/2.4.0).

[2020-10-21 17:01] jerzykiler opened #69 "Problem with 2.5.1 version"
Hi,

After building my project and running it on a device I get the following exception:

Thread 1: "Could not find a storyboard named 'Picker' in bundle NSBundle Frameworks/Filestack.framework> (loaded)"

This happens when I try to pick a photo.

I'm using cocoapods.

I noticed that the files `UI/Storyboards/PhotoPicker.storyboard` and `UI/Storyboards/Picker.storyboard` are missing from the Pod i

[2020-10-22 09:27] rnine commented on #69
@jerzykiler Thanks for reporting. I'll release an update fixing this issue today.

[2020-10-22 09:54] rnine commented on #69
Problem fixed in [2.5.2](https://github.com/filestack/filestack-ios/releases/tag/2.5.2).

[2020-10-22 09:54] #69 closed

[2021-01-18 11:56] ashish7-iOS opened #70 "Unable to support the Alamofire 5.0"
pod 'Filestack' has dependency with Alamofire 4.x.x version. However, I have a Alamofire 5.0 which works fine for other pods (with dependency on alamofire). How to resolve this issue ?

[2021-01-29 14:20] rnine commented on #70
@ashish7-iOS Thanks for reporting! As a matter of fact, we have just removed our dependency on `AlamoFire` on the latest release of `Filestack` (see [2.6.0](https://github.com/filestack/filestack-ios/releases/tag/2.6.0).) so you should no longer have any issues using `Filestack` together with `AlamoFire 5.x`.

[2021-01-29 14:20] #70 closed

[2021-04-27 19:13] J0SHLANG opened #71 "Minimum Deployment Target Conflict"
After updating Xcode to Version 12.5 (12E262), I see a build error.

[code]

It looks like in release `2.7.1` The target is still building for `11.0`.
<img width="767" alt="Screen Shot 2021-04-27 at 2 10 58 PM" src="https://user-images.githubusercontent.com/76061248/116298714-65b61f00-a762-11eb-8f7b-9454d8e3b653.png">

[2021-04-29 12:10] rnine commented on #71
@J0SHLANG Interesting. I noticed `ZIPFoundation` has raised the minimum iOS deployment target from iOS 11 to iOS 12 in their last patch release update (0.9.11 -> 0.9.12) and we require ZIPFoundation ~> 0.9 in our pod spec. However, our pod requires iOS 11, hence the conflict. I am not sure why they raised this requirement only on their pod spec and not on their Swift Package where the minimum depl

[2021-04-30 13:30] J0SHLANG commented on #71
Do you know if `ZIPFoundation` is going to roll back the package's minimum deployment target or is `FileStack` planning to upgrade theirs to `12.0`? We found a workaround, but it is only intended to be temporary until the conflict is resolved.

[2021-04-30 16:00] rnine commented on #71
@J0SHLANG Well, I think we'll freeze `ZIPFoundation` at `0.9.11` as a hot patch fix for CocoaPod users. We'll then decide what long term solution is most appropriate. I'll try to get my hands on this today.

[2021-05-03 09:59] rnine commented on #71
@J0SHLANG This should now be resolved in [2.7.2](https://github.com/filestack/filestack-ios/releases/tag/2.7.2). Let me know if you are still having problems. Thanks!

[2021-05-03 09:59] #71 closed

[2021-06-30 20:34] Mordil opened #72 "Undefined Symbols when importing with SwiftPM"
Xcode 2.5 (12E262)
Swift 5.4
SwiftPM - Xcode's Bundled version
Project Minimum iOS Version: 13

`filestack-ios`: 2.7.2

When importing the library using Xcode's UI for adding Swift Packages to our iOS Target, we add the following code:

[code]

when we build, Xcode gives us the following errors:
[code]

I've narrowed it down to only receiving build errors when importing `FilestackSDK`, importing `

[2021-06-30 20:36] Mordil commented on #58
Sorry to resurrect a closed issue - but what was the reasoning behind explicitly specifying `.dynamic` as the library type, rather than having it `unspecified` so SwiftPM can choose between static & dynamic depending on the build graph?

[2021-07-01 07:57] rnine commented on #72
Hmm, I see what's going on:

Both`FilestackSDK` and `Filestack` define the symbol `Client` and because both `Filestack` and `FilestackSDK` are being imported in your code, `Client` is being resolved to `FilestackSDK.Client` and it is failing to build since your target is not linking explicitly against `FilestackSDK`.

To resolve this issue, you may want to:

1) Add the `FilestackSDK` (https://gith

[2021-07-01 08:14] rnine commented on #58
Yes, this is no longer required and will be removed on the next update. We had it set explicitly to `dynamic` to allow our `Filestack` and `FilestackSDK` frameworks to be linked dynamically (*) against a XCFramework target that we no longer need.

(*) per https://forums.swift.org/t/issue-with-third-party-dependencies-inside-a-xcframework-through-spm/41977/2

[2021-07-01 16:50] Mordil commented on #58
Ah, unfortunate for that scenario - but good to hear :)

[2021-08-30 18:41] ricardohg opened #73 "Image editor is not showing up"
Hello, I need some help with the Image Editor, is not showing app, I do have the option on my Config object.

` let config = Filestack.Config.builder
      .with(callbackURLScheme: "***")
      .with(imageURLExportPreset: .compatible)
      .with(maximumSelectionLimit: 20)
      .withEditorEnabled()
      .with(photosPickerFilter: [.images])
      .with(imageExportQuality: 0.8)
      .with(availab

[2021-10-04 08:40] rnine commented on #73
@ricardohg thanks for reporting! This is now fixed in [2.8.2](https://github.com/filestack/filestack-ios/releases/tag/2.8.2).

[2021-10-04 08:40] #73 closed

[2022-02-26 02:00] rogeriowiethornjr opened #74 "Localize picker text"
Hi all, how can I localize to my native language picker titles and other labels ....  ?

[2022-10-17 06:59] Boobs28 opened #75 "Run"

[2022-11-04 11:46] maheshshahu opened #76 "not disply selected photo it display all photos"
If I select options of "Select Photo" from permission at the first time and select some specific photos from the settings but PickerNavigationController display all photos instead of specific photos.
How to we restrict that display only selected photo